<div class="AppSubMenuDivBatchMgmt">
<a id="AppSubMenuLinkBatchMgmt" href="#" onClick="Toggle_Menu('batch_menu');" class="menu">Batch Mgmt</a>
<input type="hidden" id="closing_time" name="closing_time" value="%%%closing_time%%%">
</div>
<div class="menu_layer" id="batch_menu">
<a id="AppSubMenuBatchMgmtSubItemCloseOut" href="javascript:CloseOutBusinessDay();">Close Out</a><br>
<a id="AppSubMenuBatchMgmtSubItemReviewBatch" href="/?module=funding&mode=batch_mgmt&action=review_batch">Review Batch</a><br>
<a id="AppSubMenuBatchMgmtSubItemBatchHistory" href="/?module=funding&mode=batch_mgmt&action=batch_history">Batch History</a>
</div>
