<div id="underwriting_buttons" style="display: none;">
	<div id="app_attributes">
			%%%app_attribute_buttons%%%
	</div>
		
	<div id="app_actions">
		<div class="app_attribute_title">
			App Actions
		</div>
		<div style="float: left;">
			<div class="app_button">
				<input id="AppActionFollowUp" type="button" %%%follow_up_disabled%%% name="submit_button" class="button3%%%follow_up_disabled%%%" value="Follow Up" onClick="javascript:OpenDialogSized('/?action=get_followup&type=Underwriting&application_id=%%%application_id%%%', '400', '300');"%%%follow_up_disabled%%%>
			</div>
			<div class="app_button">
				<input id="AppActionFund" type="button" %%%fund_button_disabled%%% name="submit_button" class="button3%%%fund_button_disabled%%%" value="Fund" onClick="javascript:Check_Due_Date('Fund','%%%application_id%%%','%%%customer_email%%%');">
			</div>
			<div class="app_button">
				<input id="AppActionDenyApp" type="button" %%%deny_button_disabled%%% name="submit_button" class="button3%%%deny_button_disabled%%%" value="Deny" onClick="javascript:OpenDialogTall('/?action=loan_action&mode=underwriting&type=Deny&application_id=%%%application_id%%%&customer_email=%%%customer_email%%%');">
			</div>
			<div class="app_button">
				<input id="AppActionSendToInProcess" type="button" name="submit_button" value="Send to In Process" class="button2%%%inprocess_button_disabled%%%" onClick="javascript:Update_Status_Direct('In_Process', 'In Process');"%%%inprocess_button_disabled%%%>
			</div>
		</div>
		<div style="float: left;">
			<div class="app_button">
				<input id="AppActionWithdrawApp" type="button" %%%withdraw_disabled%%% name="submit_button" class="button3%%%withdraw_disabled%%%" value="Withdraw" onClick="javascript:OpenDialogTall('/?action=loan_action&mode=underwriting&type=Withdraw&application_id=%%%application_id%%%&customer_email=%%%customer_email%%%');">
			</div>
			<div class="app_button">
				<input id="AppActionReverify" type="button" %%%cs_reverify_disabled%%% name="submit_button" class="button3%%%cs_reverify_disabled%%%" value="Send to Verify" onClick="OpenDialogTall('/?action=loan_action&type=Reverify&loan_section=CS&application_id=%%%application_id%%%');">
			</div>
			<div class="app_button">
				<form style="display: inline; margin: 0; padding: 0;" id="re_sign_documents_form" name="re_sign_documents_form" method="post" action="/" >
					<input onClick="javascript:return ConfirmESig();" class="button2%%%resig_disabled%%%" type="submit" value="Send e-sig" %%%resig_disabled%%%>
					<input type="hidden" name="action" value="resig">
					<input type="hidden" name="application_id" value="%%%application_id%%%">
				</form>
			</div>			
			<div class="app_button">
				%%%watch_button%%%
			</div>
		</div>
	<div style="clear: both;"></div>
</div>
<div style="clear: both;text-align: center; color:red; font-weight: bold; padding-left: 10px; padding-right: 10px;"><br>%%%fund_warning%%%</div>
<div style="clear: both;">
	<span style="text-align: left; float: left;">%%%back_button_link%%%</span>
	<span style="text-align: center; float: right; width: 755px;">Controlling Agent: &nbsp; <b>%%%controlling_agent_name%%% </b></span>
</div>
