<form name="report_form" class="no_padding" action="/?module=reporting&action=generate_report" method="post" onSubmit="document.getElementById('loading').style.visibility = 'visible';">
<table width="100%" border="0" style='background: #EEEEEE' cellpadding="0" cellspacing="0">
	<tr class="valign_top">
		<th>
			%%%report_title%%%
		</th>
	</tr>
	<tr class="valign_top">
		<td align="left">
			<table width="780" border="0">
				<tr>
					<td  valign="top" align="left" nowrap>
						%%%start_date_title%%%
					</td>
					<td valign="top" align="left">
						%%%start_date%%%
					</td>
					<td valign="top" align="center" rowspan="2" width=0%>
						%%%agent_select_list%%%
					</td>					
					<td valign="top" align="center" width=50% nowrap>
						<table width=100%><tr><td nowrap>
							%%%loan_type_select_list%%%
							%%%reptype_select_list%%%
							</td><td nowrap>
							%%%react_type_select_list%%%
							%%%achtype_select_list%%%
							</tD></tr></table>
					</td>
					<td width="20%" valign="top" align="right">
						%%%company_select_list%%%
					</td>
				</tr>
				<tr>
					<td valign="top" align="left" nowrap>
						%%%end_date_title%%%
					</td>
					<td valign="top" align="left">
						%%%end_date%%%
					</td>
					<td valign="top"  align="center" nowrap>
						<input type="submit" class="button" value="Submit">
						<input type="hidden" name=mode value="%%%report_mode%%%">
						&nbsp;
						<input type="button" class="button" value="Refresh" onclick="reset();submit();">
					</td>
					<td valign="top" align="right" nowrap></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		<table width=100%><tr>
			<td class='align_left'>%%%search_message%%%</td>
			<td></td>
		</tr></table>
		</td>
	</tr>
	<tr>
	<td>
		<b>%%%download_link%%%</b>
	</td>
	</tr>
</table>
</form>
