<form name="report_form" class="no_padding" action="/?module=reporting&amp;action=generate_report" method="post" onSubmit="document.getElementById('loading').style.visibility = 'visible';">
<input type="hidden" name="mode" value="%%%report_mode%%%">
<table width="100%" border="0" style="background: #EEEEEE;" cellpadding="0" cellspacing="0">
	<tr class="valign_top">
		<th>
			%%%report_title%%%
		</th>
	</tr>
	<tr class="valign_top">
		<td align="left">
			<table width="780" border="0">
				<tr>
					<td  valign="top" align="left" nowrap="nowrap">
						%%%start_date_title%%%
					</td>
					<td valign="top" align="left">
						%%%start_date%%%
					</td>
					<td valign="top" align="center" rowspan="2" width="0%">
						%%%agent_select_list%%%
						%%%email_queue_list%%%
					</td>
					<td valign="top" align="center" width="50%" nowrap="nowrap">
						<table width="100%">
							<tr>
								<td nowrap="nowrap">
									%%%loan_type_select_list%%%
									%%%reptype_select_list%%%
								</td>
								<td nowrap="nowrap">
									%%%follow_up_queue_list%%%
									%%%react_type_select_list%%%
									%%%achtype_select_list%%%
									%%%status_type_list%%%
								</td>
							</tr>
						</table>
					</td>
					<td width="20%" valign="top" align="right">
						%%%company_select_list%%%
					</td>
				</tr>
				<tr>
					<td valign="top" align="left" nowrap="nowrap">
					</td>
					<td valign="top" align="left">
					</td>
					<td valign="top"  align="center" nowrap="nowrap">
						<input type="submit" class="button" value="Submit">
						&nbsp;
						<input type="button" class="button" value="Refresh" onclick="reset(); submit();">
					</td>
					<td valign="top" align="right" nowrap="nowrap">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td class="align_left">
						%%%search_message%%%
					</td>
					<td class="align_right">
						%%%download_link%%%
					</td>
				</tr>
			</table>
		</td>
	</tr>
	%%%search_result_set%%%
</table>
</form>
