<form action="/?action=generate_report" method="post" id="follow_up_report_form" style="padding: 0;margin:0;">
	<table width="100%" border="0">
		<tr class="valign_top">
			<th width="100%" style='background: #EEEEEE'>
				%%%report_title%%%
			</th>
		</tr>
		<tr class="valign_top">
			<td class="align_right">
				%%%download_link%%%
			</td>
		</tr>
		<tr class="valign_top">
			<td>
				<table width="100%" cellspacing="0" cellpadding="0">
					<tr>
						<td width="33%" class="align_left">
							%%%message%%%
						</td>
						<td width="33%" class="align_center" valign="top">
							%%%button%%%
						</td>
						<td width="33%" class="align_right" valign="top">
							%%%company_select_list%%%
						</td>
					</tr>
				</table>
			</td>
		</tr>
		%%%result%%%
	</table>
</form>
