<div id="AppSubMenuDivQC"  class="level2nav" onClick="javascript: Toggle_Menu('quick_checks', this.id);"> QC </div>

<div class="menu_layer" id="quick_checks">
	<a href="/?mode=quick_checks&action=search_quick_checks" id="AppSubMenuLinkQCSubItemProcessing"><div class="submenu_item" id="AppSubMenuDivQCSubItemProcessing">Processing</div></a>
	<!-- <a href="/?mode=quick_checks&action=receive_quick_checks" id="AppSubMenuLinkQCSubItemReceiving"><div class="submenu_item" id="AppSubMenuDivQCSubItemReceiving">Receiving</div></a> -->
</div>
