<!-- END REVIEW BATCH SCREEN -->

<table cellpadding="0" cellspacing="0" width="100%" height="480" class="%%%mode_class%%%">
  <tr>
    <td class="align_left">
	%%%batchmessages%%%	
    <tr><td>
    <div id="batch_review_wrapper">

     <form method="post" action"/">
	


       <table cellpadding="0" cellspacing="0" width="100%" class="%%%mode_class%%%" id="batch_review_table">

<tr><th width=100%>Batch Review        
<table class="fixedHeader" width=100%>
	  <tr>
	   <th class="%%%mode_class%%%" style="text-align: center;"><a href="/?mode=%%%mode_class%%%&action=review_batch&sort=application_id">Application ID</a></th>
	   <th class="%%%mode_class%%%" style="text-align: center;"><a href="/?mode=%%%mode_class%%%&action=review_batch&sort=name">Name</a></th>
	   <th class="%%%mode_class%%%" style="text-align: center;"><a href="/?mode=%%%mode_class%%%&action=review_batch&sort=ach_type">ACH Type</a></th>
	   <th class="%%%mode_class%%%" style="text-align: right;">Amount</th>
	   <!-- asm 80  -->
	   <th class="%%%mode_class%%%" style="text-align: center;"><a href="/?mode=%%%mode_class%%%&action=review_batch&sort=ach_provider_name">ACH Provider</a></th>

	  </tr>
        </table>
  	  <tbody class="scrollContent">
           %%%batchlist%%%
	  </tbody>
       </table>
     </form>
    </td>
  </tr>
  <tr>
   </div>
    <td>
      <input class="button2" type="button" value="Send Batch" onClick="javascript:SendBatch('%%%master_domain%%%');"><BR>
    </td>
  </tr>
</table>
<!-- END REVIEW BATCH SCREEN -->
