<div class="app_attribute_title">
	App Attributes
</div>
<div style="float: left;">
<div class="app_attribute">
	<input id="AppAttributeBadInfo" class="button2%%%bad_info_disabled%%%" type=button style="background-image: url('/image/standard/i_bad_info.gif');" %%%bad_info_link%%% value="Bad Info">
</div>
<div class="app_attribute">
	<input id="AppAttributeDoNotContact" class="button2%%%do_not_contact_disabled%%%" type=button style="background-image: url('/image/standard/i_do_not_contact.gif');" %%%do_not_contact_link%%% value="Do Not Contact">
</div>
<div class="app_attribute">
	<input id="AppAttributeBestContact" class="button2%%%best_contact_disabled%%%" type=button style="background-image: url('/image/standard/i_best_contact.gif');" %%%best_contact_link%%% value="Best Contact">
</div>
<div class="app_attribute">
	<input id="AppAttributeDoNotMarket" class="button2%%%do_not_market_disabled%%%" type=button style="background-image: url('/image/standard/i_do_not_market.gif');" %%%do_not_market_link%%% value="Do Not Market">
</div>
</div>
<div style="float: left;">
<div class="app_attribute">
	<input id="AppAttributeDoNotLoan" class="button2%%%do_not_loan_disabled%%%" type=button style="background-image: url('/image/standard/i_do_not_loan.gif');" %%%do_not_loan_link%%% value="Do Not Loan">
</div>


<div class="app_attribute">
	<input id="AppAttributeCustNoACH" class="button2" type=button style="background-image: url('/image/standard/i_cust_no_ach.gif');" %%%cust_no_ach_link%%% value="No ACH">
</div>

</div>
