<div id="layout1group0layer1view" %%%application_summary_view_layer%%%>
<table cellpadding="0" cellspacing="0" width="100%">
<tr><td class="border" align="left" valign="top">
<table cellpadding="0" cellspacing="0" width="100%" class="%%%mode_class%%%">
	<tr class="height">
		<th colspan="0" class="%%%mode_class%%%">&nbsp;<nobr>Summary</nobr></th>
  		<th colspan="0" class="%%%mode_class%%%" style="text-align: right;"><nobr><a href="#" onClick="javascript:window.open('/?module=%%%current_module%%%&action=get_application_history&application_id=%%%application_id%%%', 'application_history', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=no,width=515,height=420,left=150,top=150,screenX=150,screenY=150');"> Customer ID %%%customer_id%%% &nbsp; / &nbsp; App. ID %%%application_id%%% %%%status_long%%%</a>&nbsp;%%%react_ind%%%&nbsp;%%%watch_ind%%%&nbsp;%%%fraud_ind%%%&nbsp;</nobr></th>
	</tr>
    <tr class="height">
      <td class="align_left_alt_bold">Last Name:</td><td class="align_left_alt">%%%name_last_trim%%%</td>
      <td class="align_left_alt_bold">Email:</td><td class="align_left_alt">%%%customer_email_trim%%%</td>
      <td class="align_left_alt_bold">Address:</td><td class="align_left_alt">%%%street_trim%%%</td>
    </tr>
    <tr class="height">
      <td class="align_left_bold">First Name:</td><td class="align_left">%%%name_first_trim%%%</td>
      <td class="align_left_bold">Home Phone:</td><td class="align_left">%%%phone_home_trim%%% %%%phone_home_link%%%</td>
      <td class="align_left_bold">Unit:</td><td class="align_left">%%%unit_trim%%%</td>
    </tr>
    <tr class="height">
      <td class="align_left_alt_bold">SSN:</td><td class="align_left_alt">%%%ssn_trim%%%</td>
      <td class="align_left_alt_bold">Cell Phone:</td><td class="align_left_alt">%%%phone_cell_trim%%% %%%phone_cell_link%%%</td>      
      <td class="align_left_alt_bold">City/State:</td><td class="align_left_alt">%%%city_trim%%%, %%%state_trim%%%</td>
    </tr>
</table>
</td>
</tr>
</table>
</div>
