<html>
<head>
<title>Fraud &amp; High Risk Matching Rules</title>
</head>
<body onload="self.focus();">
		
<h3>Matching Rules For Application %%%application_id%%%</h3>
<br>
<table width='100%' border='0' cellspacing='0' cellpadding='2'>
	<tr>
		<th align="left">Fraud Rules:</th>
	</tr>
	<tr>
		<td>%%%fraud_rules_list%%%</td>
	</tr>
	<tr>
		<th align="left">Fraud Fields:</th>
	</tr>
	<tr>
		<td>%%%fraud_fields_list%%%</td>
	</tr>
	<tr>
		<th align="left">High Risk Rules:</th>
	</tr>
	<tr>
		<td>%%%risk_rules_list%%%</td>
	</tr>
	<tr>
		<th align="left">High Risk Fields:</th>
	</tr>
	<tr>
		<td>%%%risk_fields_list%%%</td>
	</tr>
</table>
</body>
</html>
