<div id="AppSearchBox">
<form action="/" method="get" style="padding: 0; margin: 0;" id="AppSearchBoxForm">
<input type="text" name="search_criteria_1" id="AppSearchCriteria1" value="" onFocus="this.select()">
<input type="hidden" name="criteria_type_1" id="AppSearchCriteriaType1" value="application_id">
<input type="hidden" name="search_deliminator_1" id="AppSearchDeliminator1" value="is">
<input type="hidden" name="criteria_type_2" id="AppSearchCriteriaType2" value="">
<input type="hidden" name="search_deliminator_2" id="AppSearchDeliminator2" value="is">
<input type="hidden" name="search_criteria_2" id="AppSearchCriteria2" value="">
<input type="hidden" name="action" value="search" id="AppSearchAction">
</form>
</div>
