<!-- MANAGER -->

<script type="text/javascript">Disable_One_Link('get_next_app_id_5',2000);</script>
<a href="javascript:Click_Link_Once('get_next_app_id_5','%%%next_app_dest_conversion_manager%%%')" class="menu" id="get_next_app_id_5">
	<div class="menu_label_nextapp">
		MANAGER &nbsp;<span class="queue_count">%%%queue_count_conversion_manager%%%</span>
	</div>
</a>


<div id="menu_label_nextapp_returns" class="menu_label_nextapp" style="left: %%%button_pos_returns%%%; width: 115px;" onmouseover="document.getElementById('cashline_return_queue_dropdown').style.display = 'block'" onmouseout="document.getElementById('cashline_return_queue_dropdown').style.display = 'none'">
<span>RETURNS</span>
<div id="cashline_return_queue_dropdown" style="display: none; background-color: #999; width: 170px; position:absolute; z-index: 1000">
	<div style="text-align: left;">
		<a href="%%%next_app_dest_returns_past_due%%%" class="menu">PAST DUE &nbsp;
			<span class="queue_count">%%%queue_count_returns_past_due%%%</span>
		</a>
	</div>
	<div style="text-align: left;">
		<a href="%%%next_app_dest_returns_collections_new%%%" class="menu">COLLECTIONS NEW &nbsp;
			<span class="queue_count">%%%queue_count_returns_collections_new%%%</span>
		</a>
	</div>
	<div style="text-align: left;">
		<a href="%%%next_app_dest_returns_collections_contact%%%" class="menu">COLLECTIONS CONTACT &nbsp;
			<span class="queue_count">%%%queue_count_returns_collections_contact%%%</span>
		</a>
	</div>
	<div style="text-align: left;">
		<a href="%%%next_app_dest_returns%%%" class="menu">OTHER &nbsp;
			<span class="queue_count">%%%queue_count_returns%%%</span>
		</a>
	</div>
</div>
</div>
<!-- MANAGER -->
